<!-- Sidebar -->
<div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-64 min-h-full bg-base-200 text-base-content">
        <li class="mb-2">
            <h2 class="menu-title text-lg font-bold">Navigation</h2>
        </li>
        <li><a class="active">Templates</a>
            <ul</li>
        <li><a>Settings</a></li>
        <li><a>Profile</a></li>
        <li class="mt-auto">
            <a>Logout</a>
        </li>
    </ul>
</div>